# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.pyc

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Environment variables
.env
db_config.ini
db_config.local.ini

# Pytest cache
.pytest_cache/

# Virtual environment
venv/
env/

# IDE/editor folders
.vscode/
.idea/
*.iml
MahilMartPOS_App/migrations/0001_initial.py
MahilMartPOS_App/migrations/0002_itembarcode_whole_price1.py
MahilMartPOS_App/migrations/0003_remove_item_p_unit.py
MahilMartPOS_App/migrations/0004_item_p_unit.py
MahilMartPOS_App/migrations/0005_alter_supplier_supplier_id.py
MahilMartPOS_App/migrations/0006_purchase_purchaseitem.py
MahilMartPOS_App/migrations/0007_remove_purchase_discount_remove_purchase_tax_and_more.py
MahilMartPOS_App/migrations/0008_remove_purchase_date_purchase_created_at_and_more.py
MahilMartPOS_App/migrations/0009_rename_supplier_id_purchaseitem_supplier_unique_id.py
MahilMartPOS_App/migrations/0010_rename_supplier_unique_id_purchaseitem_supplier_id.py
MahilMartPOS_App/migrations/0011_rename_supplier_id_supplier_supplier_code.py
MahilMartPOS_App/migrations/0012_rename_supplier_code_supplier_supplier_id.py
MahilMartPOS_App/migrations/0013_remove_product_category_remove_product_name_and_more.py
MahilMartPOS_App/migrations/0014_purchaseitem_batch_no_purchaseitem_expiry_date_and_more.py
MahilMartPOS_App/migrations/0015_rename_supplier_id_purchaseitem_supplier_oid.py
MahilMartPOS_App/migrations/0016_rename_supplier_oid_purchaseitem_supplier_id.py
MahilMartPOS_App/migrations/0017_rename_batch_no_purchaseitem_batch_no1_and_more.py
MahilMartPOS_App/migrations/0018_rename_batch_no1_purchaseitem_batch_no_and_more.py
MahilMartPOS_App/migrations/0019_product_brand_product_code_product_group_and_more.py
MahilMartPOS_App/migrations/0020_alter_product_item.py
MahilMartPOS_App/migrations/0021_purchaseitem_previous_qty_purchaseitem_total_qty.py
MahilMartPOS_App/migrations/0022_alter_purchaseitem_previous_qty_and_more.py
MahilMartPOS_App/migrations/0023_tax.py
MahilMartPOS_App/migrations/0024_remove_tax_gst_type_item_gst_percent_alter_item_tax.py
MahilMartPOS_App/migrations/0025_remove_item_gst_percent_tax_gst_type_alter_item_tax.py
MahilMartPOS_App/migrations/0026_alter_tax_gst_percent.py
MahilMartPOS_App/migrations/0027_alter_item_tax_alter_tax_gst_percent.py
MahilMartPOS_App/migrations/0028_purchase_invoice_purchaseitem_invoice.py
MahilMartPOS_App/migrations/0029_remove_purchase_invoice_remove_purchaseitem_invoice_and_more.py
MahilMartPOS_App/migrations/0030_rename_invoice_id_purchaseitem_invoice_no.py
MahilMartPOS_App/migrations/0031_purchaseitem_code_purchaseitem_item_name.py
MahilMartPOS_App/migrations/0032_supplier_account_number_supplier_bank_name_and_more.py
MahilMartPOS_App/migrations/0033_stockadjustment.py
MahilMartPOS_App/migrations/0034_stockadjustment_invoice_no_stockadjustment_item_code_and_more.py
MahilMartPOS_App/migrations/0035_remove_stockadjustment_invoice_no_and_more.py
MahilMartPOS_App/migrations/0036_stockadjustment_code_stockadjustment_invoice_no_and_more.py
MahilMartPOS_App/migrations/0037_alter_stockadjustment_supplier_id.py
MahilMartPOS_App/migrations/0038_remove_stockadjustment_code_and_more.py
MahilMartPOS_App/migrations/0039_stockadjustment_code_stockadjustment_invoice_no_and_more.py
MahilMartPOS_App/migrations/0040_alter_stockadjustment_supplier_code.py
MahilMartPOS_App/migrations/0041_stockadjustment_batch_no.py
MahilMartPOS_App/migrations/0042_purchaseitem_brand_purchaseitem_group_and_more.py
MahilMartPOS_App/migrations/0043_inventory.py
MahilMartPOS_App/migrations/0044_delete_inventory.py
MahilMartPOS_App/migrations/0045_inventory.py
MahilMartPOS_App/migrations/0046_purchasebulk.py
MahilMartPOS_App/migrations/0047_remove_purchaseitem_invoice_no_purchase_invoice_no.py
MahilMartPOS_App/migrations/0048_expense_order_payment_quotation_orderitem.py
MahilMartPOS_App/migrations/0049_remove_order_full_amount_paid_order_paid_amount.py
MahilMartPOS_App/migrations/0050_remove_billing_phone_billing_cell_and_more.py
MahilMartPOS_App/migrations/0051_rename_phone_customer_cell.py
MahilMartPOS_App/migrations/0052_delete_payment.py
MahilMartPOS_App/migrations/0053_delete_quotation.py
MahilMartPOS_App/migrations/0054_quotation.py
MahilMartPOS_App/migrations/0055_remove_billing_code_remove_billing_item_name_and_more.py
MahilMartPOS_App/migrations/0056_remove_quotation_code_remove_quotation_item_name_and_more.py
MahilMartPOS_App/migrations/0057_remove_quotation_to.py
MahilMartPOS_App/migrations/0058_quotation_created_at_quotation_points_quotation_to_and_more.py
MahilMartPOS_App/migrations/0059_delete_quotation.py
MahilMartPOS_App/migrations/0060_quotation.py
MahilMartPOS_App/migrations/0061_remove_quotation_balance_remove_quotation_order_no_and_more.py
MahilMartPOS_App/migrations/0062_item_hsn.py
MahilMartPOS_App/migrations/0063_remove_item_hsn.py
MahilMartPOS_App/migrations/0064_purchaseitem_hsn.py
MahilMartPOS_App/migrations/0065_inventory_hsn.py
MahilMartPOS_App/migrations/0066_alter_inventory_purchased_at_and_more.py
MahilMartPOS_App/migrations/0067_alter_billing_points_alter_billing_points_earned.py
MahilMartPOS_App/migrations/0068_alter_billing_points_alter_billing_points_earned.py
MahilMartPOS_App/migrations/0069_alter_purchaseitem_purchased_at.py
MahilMartPOS_App/migrations/0070_billing_remarks.py
MahilMartPOS_App/migrations/0071_alter_item_mrsp_alter_item_p_rate_and_more.py
MahilMartPOS_App/migrations/0072_purchase_total_quantity.py
MahilMartPOS_App/migrations/0073_rename_total_quantity_purchase_total_products.py
MahilMartPOS_App/migrations/0074_stockadjustment_adjusted_net_price_and_more.py
MahilMartPOS_App/migrations/0075_remove_stockadjustment_adjusted_total_price.py
MahilMartPOS_App/migrations/0076_stockadjustment_purchase_and_more.py
MahilMartPOS_App/migrations/0077_remove_inventory_invoice_no.py
MahilMartPOS_App/migrations/0078_stockadjustment_unit.py
MahilMartPOS_App/migrations/0079_inventory_split_unit_purchaseitem_split_unit.py
MahilMartPOS_App/migrations/0080_stockadjustment_unit_price.py
MahilMartPOS_App/migrations/0081_inventory_remarks.py
MahilMartPOS_App/migrations/0082_delete_purchasebulk_inventory_split_unit_price_and_more.py
MahilMartPOS_App/migrations/0083_inventory_unit_quantity_purchaseitem_unit_quantity.py
MahilMartPOS_App/migrations/0084_rename_unit_quantity_inventory_unit_qty_and_more.py
MahilMartPOS_App/migrations/0085_remove_billing_address_remove_billing_cell_and_more.py
MahilMartPOS_App/migrations/0086_billing_created_at_billingitem_created_at_and_more.py
MahilMartPOS_App/migrations/0087_stockadjustment_split_unit.py
MahilMartPOS_App/migrations/0088_rename_remarks_inventory_status.py
MahilMartPOS_App/migrations/0089_rename_status_inventory_status.py
MahilMartPOS_App/migrations/0090_purchaseitem_status_alter_inventory_status.py
MahilMartPOS_App/migrations/0091_salereturn_salereturnitem.py
MahilMartPOS_App/migrations/0092_inventory_cost_price_purchaseitem_cost_price.py
MahilMartPOS_App/migrations/0093_stockadjustment_cost_price.py
MahilMartPOS_App/migrations/0094_alter_unit_decimals.py
MahilMartPOS_App/migrations/0095_alter_unit_decimals.py
MahilMartPOS_App/migrations/0096_inventory_taxable_price_purchaseitem_taxable_price.py
MahilMartPOS_App/migrations/0097_billing_status.py
MahilMartPOS_App/migrations/0098_billing_order_bill_no.py
MahilMartPOS_App/migrations/0099_rename_status_billing_status_on.py
MahilMartPOS_App/migrations/0100_remove_billing_order_bill_no.py
MahilMartPOS_App/migrations/0101_order_qtn_no.py
MahilMartPOS_App/migrations/0102_supplier_bill_attachment_supplier_fssai_number_and_more.py
MahilMartPOS_App/migrations/0103_alter_supplier_status.py
MahilMartPOS_App/migrations/0104_remove_supplier_bill_attachment.py
MahilMartPOS_App/migrations/0105_purchase_amount_paid_purchase_bill_attachment_and_more.py
MahilMartPOS_App/migrations/0106_purchase_total_amount.py
MahilMartPOS_App/migrations/0107_purchase_discount_purchase_sub_total_purchase_tax.py
MahilMartPOS_App/migrations/0108_rename_sub_total_purchase_subtotal.py
MahilMartPOS_App/migrations/0109_alter_purchase_payment_rate.py
MahilMartPOS_App/migrations/0110_purchasepayment.py
MahilMartPOS_App/migrations/0111_remove_purchasepayment_payment_date_and_more.py
MahilMartPOS_App/migrations/0112_rename_paid_at_purchasepayment_payment_date.py
MahilMartPOS_App/migrations/0113_purchasepayment_balance_amount_and_more.py
MahilMartPOS_App/migrations/0114_purchasepayment_invoice_no.py
MahilMartPOS_App/migrations/0115_customer_remarks.py
MahilMartPOS_App/migrations/0116_alter_customer_remarks.py
MahilMartPOS_App/migrations/0117_billing_created_by.py
MahilMartPOS_App/migrations/0118_purchasetracking.py
MahilMartPOS_App/migrations/0119_remove_purchasetracking_updated_by.py
MahilMartPOS_App/migrations/0120_delete_purchasetracking.py
MahilMartPOS_App/migrations/0121_purchaseadjustmenttracking.py
MahilMartPOS_App/migrations/0122_purchaseitemadjustment_and_more.py
MahilMartPOS_App/migrations/0123_purchaseadjustmenttracking_and_more.py
MahilMartPOS_App/migrations/0124_remove_purchaseadjustmenttracking_brand_and_more.py
MahilMartPOS_App/migrations/0125_remove_purchaseadjustmenttracking_previous_qty_and_more.py
MahilMartPOS_App/migrations/0126_remove_purchaseadjustmenttracking_expiry_date.py
MahilMartPOS_App/migrations/0127_delete_purchaseadjustmenttracking.py
MahilMartPOS_App/migrations/0128_purchaseadjustmenttracking.py
MahilMartPOS_App/migrations/0129_delete_purchaseadjustmenttracking.py
MahilMartPOS_App/migrations/0130_purchaseitemlog.py
MahilMartPOS_App/migrations/0131_purchasetracking_delete_purchaseitemlog.py
MahilMartPOS_App/migrations/0132_remove_purchasetracking_change_type_and_more.py
MahilMartPOS_App/migrations/0133_remove_purchasetracking_batch_no_and_more.py
MahilMartPOS_App/migrations/0134_rename_quantity_purchasetracking_existing_quantity_and_more.py
MahilMartPOS_App/migrations/0135_billtype_counter_paymentmode_billing_card_amount_and_more.py
MahilMartPOS_App/migrations/0136_delete_product.py
MahilMartPOS_App/migrations/0137_alter_item_hsn_sac_alter_item_cess_per_qty_and_more.py
MahilMartPOS_App/migrations/0138_alter_item_hsn_sac.py
MahilMartPOS_App/migrations/0139_alter_item_code.py
MahilMartPOS_App/migrations/0140_dailypurchasepayment.py
MahilMartPOS_App/migrations/0141_delete_dailypurchasepayment.py
MahilMartPOS_App/migrations/0142_dailypurchasepayment.py
MahilMartPOS_App/migrations/0143_dailypurchasepayment_invoice_no.py
MahilMartPOS_App/migrations/0144_dailypurchasepayment_supplier_name.py
MahilMartPOS_App/migrations/0145_delete_user.py
MahilMartPOS_App/migrations/0146_barcodelabelsize.py
MahilMartPOS_App/migrations/0147_delete_itembarcode.py
MahilMartPOS_App/migrations/0148_add_email_and_address_to_customer.py
MahilMartPOS_App/migrations/0149_billing_discount_amt.py
MahilMartPOS_App/migrations/0150_alter_billing_discount_amt.py
MahilMartPOS_App/migrations/0151_remove_quotation_email.py
MahilMartPOS_App/migrations/0152_remove_order_email.py
MahilMartPOS_App/migrations/0153_quotation_discount.py
MahilMartPOS_App/migrations/0154_quotation_discount_after_total_and_more.py
MahilMartPOS_App/migrations/0155_pointsconfig.py
MahilMartPOS_App/migrations/0156_billingconfig.py
MahilMartPOS_App/migrations/0157_remove_billingconfig_updated_at.py
*.png
*.pyc
NUL
